# 源码树与编译产物
/openwrt/
/output/
/.dockerhome/

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Linux
*~
.fuse_hidden*
.nfs*

# 编译日志
/build.log

# local creds
.gh-token
.gh-device-flow.json

# 本地编译产物
firmware/
